html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 690px;
    overflow-x: auto;
}

#map {
    height: calc(100vh - 100px);
}

#top-panel{
    position:relative;
    top:0;
    width:100%;
    height:100px;
    background-color: white;
    display: flex;
}

.map-button{
    text-align: center;
    background-color: lightseagreen;
    border: 3px solid lightsteelblue;
    cursor: pointer;
    font-size: 90%;
    text-shadow: 0 0 1px darkblue;
    color: whitesmoke;
    transition-duration: 0.5s;
    height:auto;
}

.map-button:hover{
    background-color: lightskyblue;
    color: grey;
    text-shadow: none;
    border-radius: 5px;
}

#top-panel > .map-button{
    position:relative;
    flex: 1;
    display: inline-block;
    top: calc(50% - 33px);
    margin: 0 20px;
    padding: 20px 0;
    height: 20px;
}

#top-panel > .map-button:first-child{
    margin-left: 40px;
}

#top-panel > .map-button:last-child{
    margin-right: 40px;
}

@media screen and (max-width:1086px){
    #top-panel .map-button{
        font-size: 80%;
    }
}

.marker-info-content > .map-button{
    margin-top: 5px;
    font-size: 15px;
}

.marker-info-content > .marker-info-body{
    font-size: 20px;
}

#left-panel{
    display: none;
    position:absolute;
    top: 100px;
    height:calc(100vh - 100px);
    width:30vw;
    right:0;
    overflow:auto;
    background-color:white;
}

#close-description.map-button{
    display: none;
}